.btn-view-all {
  background-color: #027aff;
  font: 26px/1.25 "Gotham Medium";
  color: #fff;
  border-radius: 0;
  padding: 15px 80px;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #027aff;
  }
}

.join-subtitle {
  background: #100040;
  font: 36px/1.25 "Gotham Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px 0;
}
.btn-join {
  background: #4effec;
  border-radius: 3px;
  font: 22px/1 "Gotham Book";
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.5s;

  &:hover,
  &:focus {
    box-shadow: -2px 10px 20px rgba(74, 248, 229, 0.407261);
  }
}
