.dropdown {
  &-toggle {
    border: none;
    min-width: 100%;
    font: 14px/1.25 "Gotham Book";
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    outline: none;

    &:focus {
      outline: none;
    }
    span {
      margin-left: 5px;
    }
    &::after {
      margin-left: auto;
    }
  }

  &-menu {
    padding: 0 0 24px 0px;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.175208);
    min-width: 100%;
    margin-top: -1px;

    hr {
      margin: 0 auto 20px !important;
      width: calc(100% - 40px);
      border-width: 2px;
    }
  }

  &-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font: 14px/1.25 "Gotham Book";
    margin-bottom: 7px;
  }
}
