.owl {
  

  &-item {
    position: relative;
  }
  &-dots {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-dot {
    width: 10px;
    height: 10px;
    background: #fff !important;
    border-radius: 5px;
    margin: 0 5px;
  }

  &-theme {
    &-main {
      .owl {
        &-dots {
          position: absolute;
          bottom: 30px;
        }
        &-dot {
          background-color: #a9a9a9 !important;
          outline: none;
          &.active {
            background-color:#4effec !important
          }
        }
        &-nav {
          width: 100%;
          position: absolute;
          top: 50%;

          button {
            width: 50px;
            height: 50px;
            background-color: #0404044f !important;
            border-radius: 50px;
            transition: .5s;

            &:hover, &:focus {
              background-color: #000 !important;
            }
          }
        }
        &-prev {
          position: absolute;
          left: 50px;
          svg {
            margin-left: 5px;
          }
        }
        &-next {
          position: absolute;
          right: 50px;
          svg {
            margin-right: 5px;
          }
        }
      }
    }
    &-trends {
      max-width: 80%;
      margin: auto;
      
      .owl {
        &-dots {
          bottom: -50px;
        }
        &-prev {
          left: -100px;
        }
        &-next {
          right: -100px;
        }
      }
    }
  }
}
